In [8]:
import re

def detect_sql_injection(query):
    patterns = [
        r"(?i)union\s+select", r"(?i)select\s+.*\s+from", r"(?i)drop\s+table",
        r"(?i)insert\s+into", r"(?i)update\s+set", r"(?i)delete\s+from",
        r"(?i)or\s+1\s*=\s*1", r"(?i)exec\s+xp_", r"(?i)like\s+'%'",
        r"(?i)concat", r"(?i)/\*.*\*/", r"(?i)--"
    ]
    return any(re.search(pattern, query) for pattern in patterns)

test_queries = [
    "SELECT * FROM users WHERE username = 'admin' AND password = 'password'",
    "SELECT * FROM users WHERE username = 'admin' OR 1=1 --",
    "DROP TABLE users;",
    "INSERT INTO users (username, password) VALUES ('admin', 'password');",
    "UPDATE users SET password = 'newpassword' WHERE username = 'admin';",
    "SELECT name FROM employees WHERE department = 'HR' UNION SELECT password, username FROM users;"
]

for query in test_queries:
    print(f"Query: {query}\nDetected SQL Injection: {detect_sql_injection(query)}\n")

Query: SELECT * FROM users WHERE username = 'admin' AND password = 'password'
Detected SQL Injection: True

Query: SELECT * FROM users WHERE username = 'admin' OR 1=1 --
Detected SQL Injection: True

Query: DROP TABLE users;
Detected SQL Injection: True

Query: INSERT INTO users (username, password) VALUES ('admin', 'password');
Detected SQL Injection: True

Query: UPDATE users SET password = 'newpassword' WHERE username = 'admin';
Detected SQL Injection: False

Query: SELECT name FROM employees WHERE department = 'HR' UNION SELECT password, username FROM users;
Detected SQL Injection: True